# some temp file in ndk-build
app/src/main/obj
app/src/main/libs
.gradle
JuPlayer.iml
app/app.iml
app/proguard-rules.pro
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
.idea/